<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NutriTrack</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&family=DM+Sans:wght@300;400;500&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,600;1,400&family=Plus+Jakarta+Sans:wght@400;500;600&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
</head>

<body>

  <div class="nav-container">
    <nav>
      <a href="/" class="logo">Nutri<span>Track</span></a>
      <div class="nav-links">
        <a href="/login-ui">Sign in</a>
        <a href="/register-ui" class="btn-primary">Get started</a>
      </div>
    </nav>

  </div>

  <!-- HERO -->
  <section class="hero">
    <div class="hero-left">
      <h1>Eat with<br><span>intention,</span><br>track with ease</h1>

      <p class="hero-desc">
        NutriTrack calculates your BMI, builds a personalised diet plan, and recommends recipes that fit your goals —
        every single day.
      </p>

      <div class="hero-actions">
        <a href="/register-ui" class="cta-primary">Start for free</a>
        <a href="/login-ui" class="cta-secondary">Already have an account →</a>
      </div>

      <div class="social-proof">
        <div class="avatars">
          <div class="avatar a1">AR</div>
          <div class="avatar a2">SK</div>
          <div class="avatar a3">PL</div>
        </div>
        <p class="proof-text">Join hundreds tracking their nutrition</p>
      </div>
    </div>


    <div class="hero-right">
      <div class="hero-right-img">
        <img class="hero-img" src="{{ url_for('static', filename='images/abstract2-Photoroom.png') }}" alt="hero">
      </div>
    </div>
  </section>
</body>

</html>